<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler"
  type="button"
  data-toggle="collapse"
  data-target="#navbarSupportedContent"
  aria-controls="navbarSupportedContent"
  aria-expanded="false"
  aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<a class="navbar-brand" href="#">
  <img src="assets\cartrip.png?text=Logo" alt="">
</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mx-auto">
    <app-car-search></app-car-search>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link"
      routerLink="/home"
      href="#">Home
      <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link"
      routerLink="/cars"
      href="#">Cars</a>
    </li>
    <li>
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Events</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <a class="nav-link"
          routerLink="/excursions"
          href="#"><button class="dropdown-item">Excursions</button>
          <span class="sr-only">(current)</span></a>
          <a class="nav-link"
          routerLink="/exhibitions"
          href="#"><button class="dropdown-item">Exhibitions</button>
          <span class="sr-only">(current)</span></a>
          <a class="nav-link"
          routerLink="/bundles"
          href="#"><button class="dropdown-item">Bundles</button>
          <span class="sr-only">(current)</span></a>
        </div>
      </div>
    </li>

    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link"
      routerLink="/posts"
      href="#">posts
      <span class="sr-only">(current)</span></a>
    </li>
    <div *ngIf="auth.isLoggedIn; else showLogin">
      <li>
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{auth.username}}</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <a class="nav-link"
            routerLink="/login"
            href="#"><button class="dropdown-item">Logout</button>
            <span class="sr-only">(current)</span></a>
          </div>
        </div>
      </li>
    </div>
    <ng-template #showLogin>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link"
        routerLink="/login"
        href="#">
        Login</a>
      </li>
    </ng-template>

  </ul>
</div>
</nav>
<div [ngStyle]="{'background-image': 'assets/cartrip.png'}"></div>
<router-outlet></router-outlet>
