<h2>Engines</h2>

<div>
  <form>
    <div class="form-row">
      <div class="col">
        <input class="form-control" #engineTitle placeholder="Engine Title"/>
      </div>
      <div class="col">
        <input class="form-control" #engineEngine_Cubic_centimeter placeholder="Cubic Centimeters"/>
      </div>
      <div class="col">
        <input class="form-control" #engineEngine_manufacturer
               placeholder="manufacturer"/>
      </div>
      <!-- (click) passes input values to add() and then clears input -->
      <button class="btn btn-primary"
              (click)="add(engineTitle.value, engine_cubic_centimeter.value, engine_manufacturer.value);
                       engineTitle.value='';
                       engine_cubic_centimeter.value='';
                       engine_manufacturer.value='';
                       engineTitle.value=''">
        Add
      </button>
    </div>
  </form>
</div>

<div class="row">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button class="dropdown-item">Action - 1</button>
        <button class="dropdown-item">Another Action</button>
        <button class="dropdown-item">Something else is here</button>
      </div>
    </div>
  </div>

<ul class="list-group engines">
  <li class="list-group-item engine" *ngFor="let engine of engines">
    <div class="engine-item">
     <a routerLink="/engines/{{engine.id}}">
       <span class="badge badge-secondary badge-pill">{{engine.id}}</span>
       {{engine.title}}
     </a>
    </div>
     <button class="btn btn-secondary" title="delete engine"
             (click)="delete(engine)">x</button>
   </li>
</ul>
