<h2>Engines</h2>
<div *ngIf="auth.isLoggedIn">
  <div>
    <form>
      <div class="form-row">
        <div class="col">
          <input class="form-control" #engineTitle placeholder="Engine Title"/>
        </div>
        <div class="col">
          <input class="form-control" #engineEngine_cubic_centimeters placeholder="Cubic Centimeters"/>
        </div>
        <div class="col">
          <input class="form-control" #engineEngine_manufacturer
                 placeholder="manufacturer"/>
        </div>
        <!-- (click) passes input values to add() and then clears input -->
        <button class="btn btn-primary"
                (click)="add(engineTitle.value, engineEngine_cubic_centimeters.value, engineEngine_manufacturer.value);
                         engineTitle.value='';
                         engineEngine_cubic_centimeters.value='';
                         engineEngine_manufacturer.value='';
                         engineTitle.value=''">
          Add
        </button>
      </div>
    </form>
  </div>
</div>


<ul class="list-group engines">
  <li class="list-group-item engine" *ngFor="let engine of engines">
    <div class="engine-item">
     <a routerLink="/engines/{{engine.id}}">
       <span class="badge badge-secondary badge-pill">{{engine.id}}</span>
       {{engine.title}}
     </a>
    </div>
     <button class="btn btn-secondary" title="delete engine"
             (click)="delete(engine)">x</button>
   </li>
</ul>
