<div>
  <label>Car id:</label> <input #carId />
  <label>Car company:</label> <input #carCompany />
  <label>Car model:</label> <input #carModel />
  <label>Car Release Date:</label> <input #carYear />
  <!-- (click) passes input values to add() and then clears input -->
  <button (click)="add(carId.value, carCompany.value, carModel.value, carYear.value);
                   carId.value='';
                   carCompany.value='';
                   carModel.value='';
                   carYear.value=''">
    Add
  </button>
</div>

<ul class="cars">
   <li *ngFor="let car of cars">
     <a routerLink="/detail/{{car.id}}">
       <span class="badge">{{car.id}}</span> {{car.model}}
     </a>
     <button class="delete" title="delete car"
             (click)="delete(car)">x</button>
   </li>
</ul>
